<article>
    <header class="mb-4">
        <h1 class="fw-bolder mb-1">Welcome to Blog Post!</h1>
        <div class="text-muted fst-italic mb-2">Posted on January 1, 2023 by Start Bootstrap</div>
        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
    </header>
    <figure class="mb-4">
        <img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." />
    </figure>
    <section class="mb-5">
        <p class="fs-5 mb-4">Science is an enterprise...</p>
        <p class="fs-5 mb-4">The universe is large and old...</p>
        <p class="fs-5 mb-4">If you get asteroids about a kilometer...</p>
        <h2 class="fw-bolder mb-4 mt-5">I have odd cosmic thoughts every day</h2>
        <p class="fs-5 mb-4">For me, the most fascinating interface...</p>
        <p class="fs-5 mb-4">Venus has a runaway greenhouse effect...</p>
    </section>
</article>
